<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emails</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: Calibri, serif;
    }
</style>
<body style="background-color:rgba(0, 0, 0, 0.2)">
<div style="background-color: #0062a6; height: 138px; display: flex; justify-content: center; padding-top: 20px;">
    <img src="cid:logo" alt="drabl logo" style="height: 80px">
</div>
<main style="display: flex;">
    <div style="display: flex; flex-direction: column; justify-content:center;align-items:center;background-color: white;padding: 30px; box-shadow: 1px 1px rgba(0,0,0,0.2);width: 100%">
        <h1 style="font-size: 48px; text-align: center">Inquérito de satisfação</h1>
        <h2 style="margin-top: 40px">Caro(a) <span style="font-weight: bold"><%= ticket.name%></span>,
        </h2>

        <h3 style="margin-top: 20px; font-weight: normal; font-size: 20px">Vimos informá-lo que o seu pedido com a descrição: <span style="font-weight: bolder"><%= ticket.subject%></span> do dia <span style="font-weight: bolder"><%= ticket.createdAt%></span></h3>

        <p style="width: 800px; margin-top: 20px; font-size: 20px">Foi concluído, pelo que solicitamos o preenchimento de um inquérito
            para podermos avaliar o seu grau de
            satisfação com o serviço prestado.</p>

        <div style="display:flex; justify-content: center; align-items: center">
            <a href="www.google.com"
               style="background-color: #0062a6; margin-top: 20px; padding: 24px 16px; width: fit-content; color: white; text-decoration: none">
                Preencher
                inquérito
            </a>
        </div>

        <p style="margin-top: 20px"> Desde já, agradecemos a sua colaboração</p>

        <p style="margin-top: 8px">A equipa de assistência técnica.</p>
    </div>
</main>
</body>
</html>