<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/output.css" rel="stylesheet">
    <title>Emails</title>
</head>
<body class="bg-black bg-opacity-20">
<header class="bg-pantone-300 h-44 ">
</header>
<main class="flex justify-center mx-auto relative">
    <div class="flex flex-col bg-white w-[1000px] absolute -top-20 p-10">
        <h1 class="text-5xl text-center">Inquérito de satisfação</h1>
        <h2 class="mt-10">Caro(a) <span class="font-bold">Andy Christopher Aguiar da Costa</span>,</h2>

        <h3 class="mt-5">Vimos informá-lo que o seu pedido com a descrição:</h3>

        <p>foi concluído, pelo que solicitamos o preenchimento de um inquérito para podermos avaliar o seu grau de
            satisfação com o serviço prestado.</p>

        <div class="flex justify-center items-center">
            <a href="" class="mt-5 bg-pantone-300 px-4 py-6 text-white w-fit">Preencher inquérito</a>
        </div>

        <p class="mt-5"> Desde já, agradecemos a sua colaboração</p>

        <p class="mt-2">A equipa de assistência técnica.</p>

        <div class="mt-10 text-xs text-pantone-300">
            <div><span class="font-bold">Direção Regional dos Arquivos, <br>das Bibliotecas e do Livro</span> <br>
                Caminho dos Álamos 35, <br>
                9020-064 Funchal - Madeira <br>
                Tel.: +351 291 145 310 <br>
            </div>
            <div class="mt-2 flex flex-col space-y-3">
                <p class="text-xs">sti.drabl@madeira.gov.pt</p>
                <p class="text-xs">www.abm.madeira.gov.pt</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>