<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emails</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
</style>
<body style="background-color:rgba(0, 0, 0, 0.2)">
<div style="background-color: #0062a6; height: 208px; display: flex; justify-content: center; padding-top: 20px;">
    <img src="../assets/Logo_SRETC_DRABL_Branco.png" alt="drabl logo" style="height: 70px">
</div>
<main style="display: flex; justify-content: center; position: relative">
    <div style="display: flex; flex-direction: column; background-color: white; width: 1000px; position:absolute; padding: 30px; top: -80px;">
        <h1 style="font-size: 48px; text-align: center">Inquérito de satisfação</h1>
        <h2 style="margin-top: 40px">Caro(a) <span style="font-weight: bold">Andy Christopher Aguiar da Costa</span>,
        </h2>

        <h3 style="margin-top: 20px">Vimos informá-lo que o seu pedido com a descrição:</h3>

        <p>foi concluído, pelo que solicitamos o preenchimento de um inquérito para podermos avaliar o seu grau de
            satisfação com o serviço prestado.</p>

        <div style="display:flex; justify-content: center; align-items: center">
            <a href=""
               style="background-color: #0062a6; margin-top: 20px; padding: 24px 16px; width: fit-content; color: white">Preencher
                inquérito</a>
        </div>

        <p style="margin-top: 20px"> Desde já, agradecemos a sua colaboração</p>

        <p style="margin-top: 8px">A equipa de assistência técnica.</p>

        <div style="margin-top: 40px; font-size: 12px; line-height: 16px; color: #0062a6">
            <div><span style="font-weight: bold">Direção Regional dos Arquivos, <br>das Bibliotecas e do Livro</span>
                <br>
                Caminho dos Álamos 35, <br>
                9020-064 Funchal - Madeira <br>
                Tel.: +351 291 145 310 <br>
            </div>
            <div class="" style="margin-top: 8px; display: flex; flex-direction: column;">
                <p style="font-size: 12px; line-height: 12px">sti.drabl@madeira.gov.pt</p>
                <p style="font-size: 12px; line-height: 12px">www.abm.madeira.gov.pt</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>